<footer>
    <div class="container">
        <p>&copy; {% now "Y" %} Escola Estadual Professor José Ranieri. Todos os direitos reservados.</p>
        <p>Desenvolvido com Django. Fuso horário: {% now "P" %}</p>
        <!-- Links sociais ou de contato opcionais -->
        <div class="mt-1">
            <a href="#" class="text-secondary mx-auto">
                <i class="fab fa-facebook-f mr-1"></i>
            </a>
            <a href="#" class="text-secondary mx-auto">
                <i class="fab fa-instagram mr-1"></i>
            </a>
            <a href="#" class="text-secondary mx-auto">
                <i class="fas fa-phone mr-1"></i>
            </a>
        </div>
    </div>
</footer>