<footer class="bg-verde-petroleo text-white mt-auto py-8">
    <div class="container mx-auto px-4 text-center">
        <div class="space-y-1">
            <p class="font-semibold">&copy; {% now "Y" %} Escola Estadual Professor José Ranieri.</p>
            <p class="text-sm opacity-90">Programa de Ensino Integral (PEI)</p>
            <p class="text-xs opacity-75 italic">Horário: {% now "P" %}</p>
        </div>

        <div class="flex justify-center gap-6 mt-6">
            <a href="https://www.facebook.com/share/1Nrs6fcBFt/" class="hover:text-laranja-claro1 transition-colors duration-300" target="_blank">
                <i class="fab fa-facebook-f fa-xl"></i>
            </a>
            <a href="https://www.instagram.com/joseranieribauru?igsh=OWQzcGphZmVmN2dq" class="hover:text-laranja-claro1 transition-colors duration-300" target="_blank">
                <i class="fab fa-instagram fa-xl"></i>
            </a>
            <a href="https://youtube.com/@escolajoseranieri?si=e8UiRDWJNQZXA9C7" class="hover:text-laranja-claro1 transition-colors duration-300" target="_blank">
                <i class="fab fa-youtube fa-xl"></i>
            </a>
        </div>
    </div>
</footer>