{% load static %}
<header class="header">
    <div class="logo">
        <a href="{% url 'core:home' %}">
            <img src="{% static 'images/logo/prof_ranieri.png' %}" alt="Logo Escola Ranieri" onerror="this.onerror=null; this.src='https://placehold.co/80x80/61152d/FFFFFF?text=LOGO'">
        </a>
    </div>

    <nav>
        <ul id="main-nav-ul">
            <li><a href="{% url 'core:home' %}">Home</a></li>
            <li><a href="{% url 'historia:livro_digital' %}">História</a></li>
            {# Link para o Índice Coral #}
            <li><a href="{% url 'coral:index' %}">Coral</a></li>
            {# Link para o Índice Simoninha na Cozinha #}
            <li><a href="{% url 'sim_cozinha:index' %}">Simoninha na Cozinha</a></li>
            {# Link para o Índice Brincando & Dialogando #}
            <li><a href="{% url 'brinc_dialogando:index' %}">Brincando & Dialogando</a></li>

            {# Lógica de links separados para Galerias #}
            <li><a href="{% url 'galerias:lista_publicas' %}">Galerias Públicas</a></li>

            {% if user.is_authenticated %}
                <li><a href="{% url 'galerias:lista_galerias' %}">Galerias Restritas</a></li>
            {% endif %}

            {# Link para Repositório / Gestão #}
            {% if user.is_authenticated %}
                {% if user.is_superuser or user.is_fotografo or user.is_fotografo_master %}
                    <li><a href="{% url 'repositorio:gerenciar_galerias' %}">Repositório</a></li>
                {% endif %}
            {% endif %}

            {% if user.is_authenticated %}
                <li><a href="{% url 'users:dashboard' %}">Painel</a></li>
                <li><a href="{% url 'mensagens:chat_list' %}">Mensagens</a></li>
                <li>
                    <form method="post" action="{% url 'users:logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn-logout">Sair <i class="fas fa-sign-out-alt"></i></button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'users:register' %}" class="btn-primary">Cadastro</a></li>
                <li><a href="{% url 'users:login' %}" class="btn-primary btn-logout">Entrar</a></li>
            {% endif %}
        </ul>
        <div class="hamburger" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const hamburger = document.getElementById('hamburger-menu');
        const navUl = document.getElementById('main-nav-ul');

        if (hamburger) {
            hamburger.addEventListener('click', function() {
                navUl.classList.toggle('show');
            });
        }
    });
</script>