{% load i18n %}{% autoescape off %}

{% blocktrans %}Olá,{% endblocktrans %}

{% blocktrans %}Você está recebendo este e-mail porque você (ou alguém) solicitou a redefinição da senha para sua conta em {{ site_name }}.{% endblocktrans %}

{% blocktrans %}Por favor, vá para a seguinte página e escolha uma nova senha:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Se você não solicitou esta redefinição, por favor, ignore este e-mail. Seu nome de usuário não será alterado.{% endblocktrans %}

{% blocktrans %}Atenciosamente,{% endblocktrans %}

{% blocktrans %}A equipe de {{ site_name }}{% endblocktrans %}

{% endautoescape %}