<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Escola Prof. José Ranieri - PEI{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    {% block extra_head %}{% endblock %}
</head>
<body>
    {% include "includes/_header.html" %}

    <main class="container">
        {% if messages %}
            <div class="mt-2 mb-2">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <section class="main-content">
            {% block content %}
                {% endblock %}
        </section>
    </main>

    {% include "includes/_footer.html" %}

    {% block extra_js %}{% endblock %}

    {# INCLUSÃO CRÍTICA: Alpine.js adicionado globalmente #}
    {# O 'defer' garante que ele seja executado apenas após o HTML ser carregado. #}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

</body>
</html>